<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XYMJPYPrice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <XYMJPYPrice.Properties.Settings>
            <setting name="FontName" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IntervalSec" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="MaxRetryCount" serializeAs="String">
                <value>10</value>
            </setting>
        </XYMJPYPrice.Properties.Settings>
    </userSettings>
</configuration>